:root {
    --font-family-main: 'Manrope', 'Segoe UI', Tahoma, Verdana, sans-serif;
    --font-size-s: 14px;
    --font-size-m: 16px;
    --font-size-l: 18px;

    // SIZES
    --navbar-height: 90px;
    --sidebar-width: 120px;
}
