.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 50px;
  padding: 50px 10px;
  width: var(--sidebar-width);
  background-color: var(--secondary-color);
  transition: width 0.3s;

  .bottom {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    margin-top: auto;
  }

  .toggler {
    color: var(--side-color);
  }
}

.collapsed {
  width: var(--sidebar-width-collapsed);
}
