@import "./styles/reset";
@import "./styles/variables/global";
@import "./styles/themes/dark";
@import "./styles/themes/light";

.app {
  background-color: var(--bg-color);
  color: var(--primary-color);
  font-family: var(--font-family-main);
  font-size: var(--font-size-m);
  min-height: 100vh;
  display: flex;

  .main-wrapper {
    padding-left: 35px;
  }
}
