@import './styles/reset.scss';
@import './styles/variables/global.scss';
@import './styles/themes/dark.scss';
@import './styles/themes/light.scss';

.app {
    background-color: var(--bg-color);
    color: var(--primary-color);
    font-family: var(--font-family-main);
    font-size: var(--font-size-m);
    min-height: 100vh;

    display: flex;

    .main-wrapper {
        padding-left: 35px;
    }
}
