@import "./styles/reset";
@import "./styles/variables/global";
@import "./styles/themes/dark";
@import "./styles/themes/light";

.app {
  background-color: var(--bg-color);
  color: var(--primary-color);
  font-family: var(--font-family-main);
  font-size: var(--font-size-m);
  min-height: 100vh;
  display: flex;

  .main-loader {
    width: 100%;
    height: 100vh;
  }

  .main-wrapper {
    padding-left: 35px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    .page-wrapper {
      width: 100%;
      height: 100%;
    }
  }
}
